<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"
    />
    <link rel="stylesheet" href="../styles/output.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('./partials/navbar.ejs'); %></div>
    <div><%- include('./partials/data-table.ejs'); %></div>
    <% if (currentUser) { %>
    <div><%- include('./partials/sidebar.ejs') %></div>
    <% }; %>
    <aside><%- include('./partials/tree.ejs', {folders: folders}); %></aside>

    <h1>Home</h1>

    <div>
      <div>Name</div>
      <div>Last Modified</div>
      <div>File Size</div>
    </div>

    <!-- File Info Component -->
    <wa-drawer label="Drawer" class="drawer-md drawer-overview">
      <h4>File Info</h4>
      <div class="drawer-content"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <wa-button slot="footer" variant="brand" data-drawer="close">Close</wa-button>
      <wa-button slot="footer">Share</wa-button>
      <form action="/file/delete" slot="footer">
        <wa-button>Delete</wa-button>
      </form>
      <wa-button slot="footer">Download</wa-button>
    </wa-drawer>

    <!-- new Folder Component -->
    <dialog id="newFolderModal">
      <div>
        <p>New Folder</p>
        <button id="newFolderModalCloseBtn" type="reset">x</button>
      </div>
      <form action="/folders" method="POST">
        <div>
          <input type="text" id="newFolderName" name="newFolderName" />
          <input type="hidden" name="parentFolderId" value="<%= parentFolderId || null %>" />
        </div>
        <div>
          <button type="submit">Create</button>
        </div>
      </form>
    </dialog>

    <!-- New File Component -->
    <dialog id="newFileModal">
      <div>
        <p>New File</p>
        <button id="newFileModalCloseBtn" type="reset">x</button>
      </div>
      <form action="/file" method="POST" enctype="multipart/form-data">
        <div>
          <input type="file" name="uploaded_file" />
          <input type="hidden" name="parentFolderId" value="<%= parentFolderId %>" />
        </div>
        <div>
          <button type="submit">Upload</button>
        </div>
      </form>
    </dialog>

    <dialog id="deleteFolderModal">
      <div>
        <p id="deleteMessage"></p>
        <form action='/folder/:folder.id_method="DELETE"' method="POST" id="deleteFolderForm">
          <input type="hidden" name="folderId" id="deleteFolderIdInput" />
          <button type="reset" id="deleteFolderModalCloseBtn">Cancel</button>
          <button type="submit" id="deleteFolderBtn">Delete</button>
        </form>
      </div>
    </dialog>

    <dialog id="editFolderModal">
      <div>
        <p id="editMessage"></p>
        <form action="/folder/:folder.id_method='PUT'" method="POST" id="editFolderForm">
          <input type="hidden" name="folderId" id="editFolderIdInput" />
          <input type="text" name="folderName" id="editFolderNameInput" value="folderName" />
          <button type="reset" id="editFolderModalCloseBtn">Cancel</button>
          <button type="submit" id="editFolderBtn">Save</button>
        </form>
      </div>
    </dialog>

    <script type="module" src="../folders/deleteFolder.js"></script>
    <script type="module" src="../folders/editFolder.js"></script>
    <script type="module" src="../folders/createNewFolder.js"></script>
    <script type="module" src="../files/fileInfoDrawer.js"></script>
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
    ></script>
  </body>
</html>
