<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/output.css" />
    <title><%= title %></title>
  </head>
  <body class="bg-neutral-800 h-screen m-auto">
    <%- include('./partials/navbar.ejs'); %>
    <div>
      <div class="layout">
        <div class="layout__sidebar border-solid border-dark-aqua border-r-[1px]">
          <% if (currentUser) { %>
          <div><%- include('./partials/sidebar.ejs') %></div>
          <% }; %>
          <aside><%- include('./partials/tree.ejs'); %></aside>
        </div>
        <div class="flex flex-col w-full p-5">
          <div><%- include('./partials/breadcrumbs.ejs'); %></div>
          <div class="layout__main"><%- include('./partials/data-table.ejs'); %></div>
        </div>
      </div>
    </div>

    <!-- File Info Component -->
    <wa-drawer label="File Info" class="drawer-overview">
      <div class="drawer-content text-md fileInfoText"></div>
      <wa-button slot="footer" variant="brand" data-drawer="close">Close</wa-button>
      <wa-button slot="footer">Share</wa-button>
      <form action="/file/delete" slot="footer">
        <wa-button>Delete</wa-button>
      </form>
      <wa-button slot="footer">Download</wa-button>
    </wa-drawer>

    <!-- new Folder Component -->
    <dialog id="newFolderModal">
      <div class="flex flex-col justify-between w-full h-full">
        <div class="dialog-header-container">
          <p class="text-base font-bold">New Folder</p>
          <button data-close-modal="newFolderModal" type="reset">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <form action="/folders" method="POST" class="flex flex-col w-full h-full text-sm">
          <div class="my-3">
            <input
              type="text"
              id="newFolderName"
              name="newFolderName"
              class="border-dark-aqua border px-3 rounded-[3px]"
              required
            />
            <input type="hidden" name="parentFolderId" value="<%= parentFolderId || null %>" />
          </div>
          <button type="submit" class="dialog-submitBtn">Create</button>
        </form>
      </div>
    </dialog>

    <!-- New File Component -->
    <dialog id="newFileModal">
      <div class="flex flex-col justify-between w-full h-full">
        <div class="dialog-header-container">
          <p class="text-base font-bold">New File</p>
          <button data-close-modal="newFileModal" type="reset">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <form
          action="/file"
          method="POST"
          enctype="multipart/form-data"
          class="flex flex-col w-full h-full text-sm"
        >
          <div class="py-3 my-3">
            <input type="file" name="uploaded_file" class="cursor-pointer" />
            <input type="hidden" name="parentFolderId" value="<%= parentFolderId %>" />
          </div>
          <button type="submit" class="dialog-submitBtn">Upload</button>
        </form>
      </div>
    </dialog>
    <!-- </div> -->

    <dialog id="deleteFolderModal">
      <div class="flex flex-col justify-between w-full h-full">
        <div class="dialog-header-container">
          <p class="text-base font-bold">Delete Folder</p>
          <button data-close-modal="deleteFolderModal" type="reset">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <p id="deleteMessage" class="font-bold"></p>
        <form
          action='/folder/:folder.id_method="DELETE"'
          method="POST"
          id="deleteFolderForm"
          class="flex flex-col w-full h-full text-sm"
        >
          <input type="hidden" name="folderId" id="deleteFolderIdInput" />
          <button type="reset" id="deleteFolderModalCloseBtn">Cancel</button>
          <button type="submit" id="deleteFolderBtn">Delete</button>
        </form>
      </div>
    </dialog>

    <dialog id="editFolderModal">
      <div>
        <div class="dialog-header-container">
          <p class="text-base font-bold">Delete Folder</p>
          <button data-close-modal="editFolderModal" type="reset">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <p id="editMessage" class="font-bold"></p>
        <form
          action="/folder/:folder.id_method='PUT'"
          method="POST"
          id="editFolderForm"
          class="flex flex-col w-full h-full text-sm"
        >
          <input type="hidden" name="folderId" id="editFolderIdInput" />
          <input type="text" name="folderName" id="editFolderNameInput" value="folderName" />
          <button type="reset" id="editFolderModalCloseBtn">Cancel</button>
          <button type="submit" id="editFolderBtn">Save</button>
        </form>
      </div>
    </dialog>

    <script type="module" src="../folders/deleteFolder.js"></script>
    <script type="module" src="../folders/editFolder.js"></script>
    <script type="module" src="../folders/createNewFolder.js"></script>
    <script type="module" src="../files/fileInfoDrawer.js"></script>
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
    ></script>
  </body>
</html>
