<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('./partials/navbar.ejs'); %></div>
    <% if (currentUser) { %>
    <div><%- include('./partials/sidebar.ejs') %></div>
    <% }; %>
    <aside><%- include('./partials/tree.ejs', {folders: folders}); %></aside>

    <h1>Home</h1>

    <div>
      <div>Name</div>
      <div>Last Modified</div>
      <div>File Size</div>
    </div>

    <dialog id="newFolderModal">
      <div>
        <p>New Folder</p>
        <button id="newFolderModalCloseBtn" type="reset">x</button>
      </div>
      <form action="/folders" method="POST">
        <div>
          <input type="text" id="newFolderName" name="newFolderName" />
          <input type="hidden" name="parentFolderId" value="<%= parentFolderId || null %>" />
        </div>
        <div>
          <button type="submit">Create</button>
        </div>
      </form>
    </dialog>

    <dialog id="newFileModal">
      <div>
        <p>New File</p>
        <button id="newFileModalCloseBtn" type="reset">x</button>
      </div>
      <form action="/file" method="POST" enctype="multipart/form-data">
        <div>
          <input type="file" name="uploaded_file" />
          <input type="hidden" name="parentFolderId" value="<%= parentFolderId %>" />
        </div>
        <div>
          <button type="submit">Upload</button>
        </div>
      </form>
    </dialog>

    <dialog id="deleteFolderModal">
      <div>
        <div>Are you sure you want to delete this folder and all its contents?</div>
        <form action='/folder/{:folder.id}_method="DELETE"' method="POST">
          <button type="reset">Cancel</button>
          <button type="submit" id="deleteFolderBtn">Delete</button>
        </form>
      </div>
    </dialog>

    <script type="module" src="/scripts/createNewFolder.js"></script>
  </body>
</html>
