<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <div><%- include('./partials/navbar.ejs') %></div>
  <% if (currentUser) { %>
  <div><%- include('./partials/sidebar.ejs') %></div>
  <% } %>
  <body>
    <h1>Home</h1>
    <% if (currentUser) { %>
    <h3><%= currentUser.id %></h3>
    <h3><%= currentUser.username %></h3>
    <% } else { %>
    <h3>logged out</h3>
    <% } %>
  </body>
</html>
