<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../styles/output.css" />

    <title><% title %></title>
  </head>

  <div>
    <div class="grid-container">
      <div class="grid-header">
        <a href="#">Name</a>
        <a href="#">Type</a>
        <a href="#">File Size</a>
        <a href="#">Date Created</a>
        <a href="#">Date Modified</a>
      </div>
      <div class="grid-body">
        <% if (folderData.files.length === 0) {%>
        <div>No files or folders to display.</div>
        <%} %> <% if (folderData) { %> <% folderData.files.forEach(childFolder => { %> <% if
        (childFolder.type == "FOLDER") { %>
        <a href="/folders/<%= childFolder.id %>" class="grid-row items-center">
          <div><%= childFolder.name %></div>
          <div>—</div>
          <!-- placeholder for size -->
          <div>—</div>
          <!-- placeholder for type -->
          <div><%= childFolder.createdAt %></div>
          <div><%= childFolder.modifiedAt %></div>
        </a>
        <!-- </div> -->
        <% } else if (childFolder.type == "FILE") { %>
        <div class="grid-row items-center">
          <wa-button
            type="reset"
            class="rounded-md bg-white/10 px-2.5 py-1.5 text-sm font-semibold text-blue-800 inset-ring inset-ring-white/5 hover:bg-white/20 open-drawer-btn drawer-md"
            data-fileId="<%=childFolder.id%>"
          >
            <div><%= childFolder.name %></div>
            <div><%= childFolder.size %></div>
            <div><%= childFolder.type %></div>
            <div><%= childFolder.createdAt %></div>
            <div><%= childFolder.modifiedAt %></div>
          </wa-button>
          <div
            name="fileInfo"
            class="fileInfo hidden"
            data-file-info="<%= JSON.stringify(childFolder) %>"
          ></div>
        </div>
        <% } %>
        <!-- </div> -->
        <% }); %> <% } %>
      </div>
    </div>
  </div>
  <script
    type="module"
    src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
  ></script>
</html>
